body{
  background-color: gray;
}
div{
  background-color: teal;
}

p{
  color:white;
  text-align: center;
}

h1,h2 {
  background-color: teal;
  text-align: center;
}
li{
  list-style-type: circle;
}

a:hover{
color: white;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius:  75px

}

video {
  display:block;
  margin: 0 auto;
}

#greeting{
  background-color: teal;
}

#greeting p {
  font-weight:bold;
  text-decoration: underline;
}

#primary {
  text-align:center;
  font-weight: bold;

}
.container{
  max-width: 960px;
  margin: 0 auto;
}
.facts{
  border-style: groove;
  background-color: teal;
}
.navigate{
  text-align: center;
  border-color: teal;
  position: fixed;
  top:0;
  left: 10;
  height: auto;
  widows: 100vw;
  }

  .navigate > ul > li {
  position: relative;
  display:list-item;
  list-style: none;
}
.navigation > ul.container {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.navigate .dropdown{
  position:absolute;
  top: 1px;
  left: 0;
  display: none;
  text-align: left;
}

.navigate a:hover + .dropdown {
  display: block;
}

.dropdown:hover {
display: block;
}

  .header{
    border-bottom-color: teal;
    border-style:double;
    margin-top:1.3em;
  }

  .content{
    border-right-color: aqua;
    }

  .highlight{
color:plum;
font-weight:bolder;
  }

  .footer{
   border-style:double;
   text-align:center;
  }
